<a href="/skinconcerns/<%= @skinconcern.previous.id %>" class="js-previous btn btn-secondary" style="float: left;" data-id="<%=@skinconcern.id%>"> < </a>
<a href="/skinconcerns/<%= @skinconcern.next.id %>" class="js-next btn btn-secondary" style="float: right;" data-id="<%=@skinconcern.id%>"> > </a>

<!-- <a href="/skinconcerns/<%= @skinconcern.id %>/previous" class="js-previous btn btn-secondary" style="float: left;" data-id="<%=@skinconcern.id%>"> < </a> -->
<!-- <a href="/skinconcerns/<%= @skinconcern.id %>/next" class="js-next btn btn-secondary" style="float: right;" data-id="<%=@skinconcern.id%>"> > </a> -->

<h2 style="text-align: center;">All formulas for skin concern:</h2>
<h1 style="text-align: center;"><large class="text-primary"><%=@skinconcern.name%></large></h1>

<br>


<div class="row" id="skinconcern-page">
  <% @formulas.each do |formula| %>
    <div class="col-lg-3">
      <div class="card border-light" style="max-width: 16rem; min-width: 15rem;">
        <div class="card-body">
          <h5><%= link_to formula.title, formula_path(formula)%> </h5>

          <% if formula.user != nil %>
              <h6>By: <%= formula.user.username %> </h6>
            <% else %>
              <h6>By: anonymous </h6>
          <% end %>

          <%= link_to formula_path(formula) do %>
            <%= image_tag formula.image.url(:medium) %>
          <% end %>
          
        </div>
      </div><br>
    </div>
  <%end%>
</div> 

