<div class="jumbotron">
  <% if current_user == @user %>
    <h1 class="card-title">Hello <%= @user.username %>!</h1>
  <% else %>
    <h1 class="card-title"><%=@user.username%>'s profile page</h1>
  <% end %>

  <hr class="my-4">
  
  <h4><%=@user.username%> has created <span class="badge badge-pill badge-primary"><%=@number_of_formulas%></span> formulas!</h4>
  
  <br>

  <a href="#" class="js-view-formulas btn btn-primary btn-lg" data-id="<%=@user.id%>"> View Formulas </a>
</div>

<div class="container" style="width:80%;">
  <div class="usersFormulas">
  </div>
</div>


<% if @user == current_user %>
  <%= link_to "DELETE ACCOUNT", user_registration_path, method: :delete, data: { confirm: "Are you sure you want to delete your accout? (this cannot be undone!)"}, class: "btn btn-secondary" %>
<% end %> 