<%= form_for(@formula) do |f| %>
  <% if @formula.errors.any? %>
     <div id="error_explanation">
      <h2><%= pluralize(@formula.errors.count, "error") %> prohibited this formula from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <br><br>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
    <br><br>
    <%= f.label :direction %><br>
    <%= f.text_field :direction %>
    <br><br>
    <p>
      <%= f.label :image %> (optional)<br>
      <% if @formula.image.exists? %>
        <%= image_tag @formula.image.url(:medium, class: "formula_image") %> <br>
        Remove Image <%= f.check_box :image_delete %> 
        <br><br>
        Or Choose another image: <br>
      <% end %>
      <%= f.file_field :image %>
    </p>
  </div>

  <div class="actions"><%= f.submit 'Submit', :class => 'btn btn-primary' %></div>
<% end %>