<div class="row">
  <div class="col-sm-8">
    <h5><%= link_to x.title, formula_path(x)%> </h5>
    <h6>By: <%= link_to x.user.username, x.user %>, Created on <%=time_created(x)%></h6>
    <p class="text-muted"><%=x.description%></p>
  </div>

  <div class="col-sm-4">
    <% if x.image_file_size != nil %>
      <%= image_tag x.image.url(:medium) %>
    <% end %>
  </div>
</div><hr><!-- end of row -->
