<div class="card mb-3">

  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">  
        <h1><%= @formula.title %></h1>
        <h6 class="text-muted">Created on <%=time_created(@formula)%> <h6>
        <h6 class="text-muted">By: <%= link_to @formula.user.username, @formula.user %></h6>
        <p><%= @formula.description %></p>
      </div>
      <div class="col-sm-4">
        <% if @formula.image_file_size != nil %><br>
          <%= image_tag @formula.image.url(:medium), :style => "float :right;" %>
        <% end %>
      </div>
    </div> <!-- end of row -->
  </div> <!-- end of card-body -->

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h5>Category:</h5>
      <%= link_to @formula.category.name, @formula.category, class: "badge badge-primary" %>  
    </li>

    <li class="list-group-item">
      <h5>Skin Concerns:</h5>
      <% @formula.skinconcerns.each do |concern| %>
          <%= link_to concern.name, concern, class: "badge badge-primary" %>
      <% end %>
    </li>

    <li class="list-group-item">
      <h5>Ingredients:</h5>
      <ul>
        <% @formula.ingredients.each do |i| %>
          <li><%= i.name %></li>
        <% end %>
      </ul>
    </li>

    <li class="list-group-item">
      <h5>Directions:</h5>
      <p><%= @formula.direction %></p>

      <% if @formula.user == current_user %>
        <%= link_to "EDIT", edit_formula_path, class: "btn btn-primary" %>
        <%= link_to "DELETE", formula_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-primary" %>
      <% end %>  
    </li>

  </ul>

</div><!-- end of card mb-3 -->


