<!DOCTYPE html>
<html>
  <head>
    <title>Makingskincare</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">

    <%= render 'layouts/bootstrapcdn' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>


    <% if !!flash[:message] %>
      <div class="alert alert-dismissible alert-primary" style="max-width: 25rem; min-width: 20rem; position: fixed; right:2px; top:62px; z-index: 99">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><%= flash[:message] %></strong>
      </div>
    <% end %>

    <div class ="container">
      <%= yield %>
    </div>

  </body>
</html>
